::-webkit-scrollbar 
{
    background-color: transparent;
    width: 15px;
}
  
::-webkit-scrollbar-thumb 
{
    background-color: rgb(153, 198, 216);
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover
{
    background-color: rgb(0, 183, 255);
    border: 1px solid #535353;
}
  
::-webkit-scrollbar-track
{
    background-color: rgba(83, 83, 83, 0.397);
    border-radius: 5px;
}
  
::-webkit-scrollbar-track:hover
{
    background-color: #555;
}